.cartItem{
    color: white;
    .divIconoBasura{
        background-color: #dc3545;
        height: 5.5vh;
        .iconoBasura{
            width: 2.5vw;
            font-size: 1.1rem;
           color: white;
        }
    }
}