.tarjetaProd{
     .cardBody{
        .btnVolver, .btnVolverInicio{
            width: auto;
            margin-bottom: 3vh;
        }
        .btnTerminarCompra{
            margin-bottom: 3vh;
        }
    }
}
