.contenedorDetalle{
    background-color: red;
    .tarjetaProd{
        .card-body{
            .btnVolver, .btnVolverInicio{
                margin-top: 3vh;
                width: auto;
            }
        }
    }
}